{% extends "index.html" %}

{% block content %}
<p>PDTE</p>



<h1  class="bg-secondary text-white text-center">COMMENTS ROOM ... aqui id room consultada</h1>
<form class="form-group" action="" method="post">
  <fieldset>
      <div class="form-group">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"># -->SOLO ADMIN</th>
      <th scope="col">Date</th>
      <th scope="col">Id User -->SOLO ADMIN</th>
      <th scope="col">Id Reservation -->SOLO ADMIN</th>
      <th scope="col">COMMENT</th>
      <th scope="col">Status  -->SOLO ADMIN</th>
      <th scope="col">Actions  -->SOLO ADMIN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>FECHA COMENTARIO</td>
      <td>ID USUARIO</td>
      <td>ID RESERVA</td>
      <td>COMENTARIO</td>
      <td>ESTADO: GESTIONADO O SIN GESTIONAR</td>
      <td><button type="button" class="btn btn-success">Edit</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>FECHA COMENTARIO</td>
      <td>ID USUARIO</td>
      <td>ID RESERVA</td>
      <td>COMENTARIO</td>
      <td>ESTADO: GESTIONADO O SIN GESTIONAR</td>
      <td><button type="button" class="btn btn-success">Edit</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>FECHA COMENTARIO</td>
      <td>ID USUARIO</td>
      <td>ID RESERVA</td>
      <td>COMENTARIO</td>
      <td>ESTADO: GESTIONADO O SIN GESTIONAR</td>
      <td><button type="button" class="btn btn-success">Edit</button></td>
    </tr>
  </tbody>
</table>
</div>
</fieldset>
{% endblock %}