{% extends "index.html" %}
{% block content %}

<h1  class="bg-secondary text-white text-center">NEW ROOM</h1>
        <div class="form-group">
        <div class="form-group">
<form class="form-group" style="padding-left: 20em;padding-right: 20em; padding-bottom: 5em;"  action="/crear_habitacion" method="POST">
   <div class="form-group">
      <label>Name</label>
      <input name="Name" placeholder="Name" class="form-control" type="text">
   </div>
   <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endblock %}