{% extends "index.html" %}

{% block content %}
    <form action="/crear_usuario" method="POST">
        <div class="form-group">
           <label>Name</label>
           <input name="Name" placeholder="Name" class="form-control" type="text">
        </div>
        <div class="form-group">
           <label>username</label>
           <input name="Username" placeholder="Username" class="form-control" type="text" >
        </div>
        <div class="form-group">
           <label>phone</label>
           <input name="Phone" placeholder="Phone" class="form-control" type="number">
        </div>
        <div class="form-group">
            <label>identification</label>
            <input name="Identification" placeholder="identification" class="form-control" type="number" >
         </div>
        <div class="form-group">
           <label>email</label>
           <input name="Email" placeholder="Email" class="form-control" type="text" >
        </div>
        <div class="form-group">
            <label>password</label>
            <input name="Password" placeholder="password" class="form-control" type="password">
         </div>
        <button type="submit" class="btn btn-primary">Submit</button>
     </form>
</fieldset>
</form>
{% endblock %}