{% extends "index.html" %}
{% block content %}
<h1  class="bg-secondary text-white text-center">MODIFY ROOM</h1>
{% if session.typeUser==1 %}
<form class="form-group" style="padding-left: 20em;padding-right: 20em; padding-bottom: 5em;" action="/editarhabitacion/{{rooms.id}}/" method="POST" >
   <div class="form-group">
      <label>Name</label>
      <input name="Name" placeholder="Name" class="form-control" type="text" value="{{rooms.name}}">
   </div>
   <div class="form-group"> <!-- State Button -->
      <label>State</label>
      <select class="form-control" id="state">            
          <option selected disabled>-- Por favor seleccione una opcion --</option>
          <option value={{True}}>Disponible</option>
          <option value={{False}}>No Disponible</option>
      </select>                    
  </div>
   <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endif %}
{% endblock %}