{% extends "index.html" %}

{% block content %}


<div class="container">
    <div class="row">
      <div class="col-sm">
          <h1  class="bg-secondary text-white text-center">Gestionar Habitaciones</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm" >
        <button type="button" class="btn btn-success btn-lg"><a href="/crear_habitacion" style="color: inherit;">Crear</a></button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-info btn-lg"><a href="/listar_habitacion" style="color: inherit;">Listar</a></button>
      </div>
      <div class="col-sm">
      </div>
    </div>
    </div>
  </div>
{% endblock %}