{% extends "index.html" %}
{% block content %}
<p>PDTE</p>


<h1  class="bg-secondary text-white text-center">MANAGE COMMENTS</h1>
<form class="form-group" method="post">
  <fieldset>
      <div class="form-group">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name Habitacion</th>
      <th scope="col">See</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Name Habitacion</td>
      <td><button type="button" class="btn btn-info">Ver</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Name Habitacion</td>
      <td><button type="button" class="btn btn-info">Ver</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Name Habitacion</td>
      <td><button type="button" class="btn btn-info">Ver</button></td>
    </tr>
  </tbody>
</table>
</div>
</fieldset>
</form>
{% endblock %}