{% extends "index.html" %}

{% block content %}

<h1  class="bg-secondary text-white text-center"> MANAGE USERS</h1>

<form class="form-group" method="post">
  <fieldset class="jumbotron jumbotron-fluid text-center">
    <div class="row">
      <div class="col-sm" > 
        <img src="/static/NewUserImg.png" class=".img-responsive" style="width: 15%; height: 55%;"> 
        </br>
        <span>
          <button type="button" class="btn btn-success btn-lg"><a class="col-sm" href="/crear_usuario" style="color: inherit;">Crear Usuario</a></button>    
        </span>        
      </div>
        
        <div class="col-sm" >
            <img src="/static/SeeUserImg.png" class=".img-responsive" style="width: 15%; height: 55%;"> 
            </br>
            <span>
              <button type="button" class="btn btn-info btn-lg"><a href="/lista_usuario" style="color: inherit;">Listar Usuarios</a></button>    
            </span>
        </div>
    </div>
  </fieldset>
</form>



{% endblock %}