{% extends "index.html" %}

{% block content %}
<p>PDTE</p>


  <h1  class="bg-secondary text-white text-center">USERS</h1>
  <form class="form-group" method="post">
    <fieldset>
        <div class="form-group">
      

<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type User</th>
        <th scope="col">ID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col" colspan="2" >Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Level</td>
        <td>ID</td>
        <td>First</td>
        <td>Last</td>
        <td>Email</td>
        <td>Phone</td>
        <td><button type="button" class="btn btn-success">Edit</button></td>
        <td><button type="button" class="btn btn-success">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Level</td>
        <td>ID</td>
        <td>First</td>
        <td>Last</td>
        <td>Email</td>
        <td>Phone</td>
        <td><button type="button" class="btn btn-success">Edit</button></td>
        <td><button type="button" class="btn btn-success">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Level</td>
        <td>ID</td>
        <td>First</td>
        <td>Last</td>
        <td>Email</td>
        <td>Phone</td>
        <td><button type="button" class="btn btn-success">Edit</button></td>
        <td><button type="button" class="btn btn-success">Delete</button></td>
      </tr>
    </tbody>
  </table>

  
</div>
</fieldset>
</form>


{% endblock %}