{% extends "index.html" %}

{% block content %}

<h1  class="bg-secondary text-white text-center"> Listar Habitacion</h1>
<form  class="form-group" style="padding-left: 20em;padding-right: 20em; padding-bottom: 5em;"></form>
  <div class="container">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="font-weight-bold">001</p> Habitacion # 1
          <span class="badge badge-primary badge-pill">Disponible</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="font-weight-bold">002</p> Habitacion # 2
          <span class="badge badge-primary badge-pill">Disponible</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="font-weight-bold">003</p>  Habitacion # 3
          <span class="badge badge-danger badge-pill">Ocupado</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="font-weight-bold">004</p>  Habitacion # 4
          <span class="badge badge-primary badge-pill">Disponible</span>
        </li>
      </ul>
  </div>
  </form>
{% endblock %}