{% extends "index.html" %}
{% block content %}
<h1  class="bg-secondary text-white text-center">ROOMS</h1>
<form  class="form-group" style=" padding-bottom: 5%;"  method="post">
  <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">State</th>
          <th scope="col" colspan="2" >Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in rooms %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <th scope="row">{{item.name}}</th>
          <td class="mt-2 badge badge-primary badge-pill">{%if item.state == True: %} Disponible {% else: %} No Disponible {% endif %}</td> 
          <td><button type="button" class="btn btn-success" href="{{ url_for( 'editarhabitacion' , id=item.id ) }}">Edit</button></td>
          <td><a type="button" class="btn btn-success" href="{{ url_for( 'eliminarroom' , id=item.id ) }}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

{% endblock %}