{% extends "index.html" %}
{% block content %}
  <h1  class="bg-secondary text-white text-center">USERS</h1>
  <form class="form-group" method="post">
    <fieldset>
        <div class="form-group">
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Identification</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Type User</th>
        <th scope="col">State</th>
        <th scope="col" colspan="2" >Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in users %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.identification}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.typeUser}}</td>
        <td>{{item.state}}</td>
        <td><a type="button" class="btn btn-success" href="{{ url_for( 'editar_2' , id=item.id ) }}">Edit</a></td>
        <td><a type="button" class="btn btn-success"  href="{{ url_for( 'eliminar' , id=item.id ) }}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</fieldset>
</form>
{% endblock %}