{% extends "index.html" %}
{% block content %}
PDTE

<h1  class="bg-secondary text-white text-center">ROOMS</h1>
<form  class="form-group" style=" padding-bottom: 5%;">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="font-weight-bold">001</p> Habitacion # 1
            <span class="badge badge-primary badge-pill">Calificacion</span>
          <span class="badge badge-primary badge-pill">Disponible</span> 
          <span><button type="button" class="btn btn-success">Edit</button></span>
          <span><button type="button" class="btn btn-success">Delete</button></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="font-weight-bold">002</p> Habitacion # 2
            <span class="badge badge-primary badge-pill">Calificacion</span>
          <span class="badge badge-primary badge-pill">Disponible</span>
          <span><button type="button" class="btn btn-success">Edit</button></span>
          <span><button type="button" class="btn btn-success">Delete</button></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="font-weight-bold">003</p>  Habitacion # 3
            <span class="badge badge-primary badge-pill">Calificacion</span>
          <span class="badge badge-danger badge-pill">Ocupado</span>
          <span><button type="button" class="btn btn-success">Edit</button></span>
          <span><button type="button" class="btn btn-success">Delete</button></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="font-weight-bold">004</p>  Habitacion # 4
            <span class="badge badge-primary badge-pill">Calificacion</span>
          <span class="badge badge-primary badge-pill">Disponible</span>
          <span><button type="button" class="btn btn-success">Edit</button></span>
          <span><button type="button" class="btn btn-success">Delete</button></span>
        </li>
      </ul>
  </form>

{% endblock %}