{% extends "index.html" %}
{% block content %}
PDT

<style>
.p2 {
  text-shadow:rgb(255, 255, 255) 5px 0 10px;
  font-weight: bold; 
  font-family: Helvetica, Arial, sans-serif;
}
</style>
<h1  class="bg-secondary text-white text-center">NEW RESERVATION</h1>
<form class="form-group" style="padding-left: 20em;padding-right: 20em; padding-bottom: 5em;" action="/crear_reserva" method="POST">
  <div class="form-row">
    <div class="col-lg-4 col-md-6 form-group"><p class="p2" >Name Room</p>
        <select class="custom-select" id="room" name="room"required>
          {% for item in rooms %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
          </select>
    </div>
    <div class="col-lg-4 col-md-6 form-group"><p class="p2" >Check In</p>
        <input type="date" name="datein" class="form-control" id="datein" placeholder="Date" required>
    </div>
    <div class="col-lg-4 col-md-6 form-group"><p  class="p2" >Check Out</p>
        <input type="date" name="dateout" class="form-control" id="dateout" placeholder="Date" required>
    </div>
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endblock %}