{% extends "index.html" %}

{% block content %}
<button type="button" class="btn btn-primary">RETURN</button>
<button type="button" class="btn btn-secondary">REQUEST</button>

<div class="mx-auto" style="width: 200px;">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="EDITABLE FORM" placeholder="EDITABLE FORM" aria-label="EDITABLE FORM">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        RESERVATION INFORMATION </button>
    </form>
  </nav>
</div>
{% endblock %}