{% extends "index.html" %}
{% block content %}
PDTE</br>
Mostrar lista de reservas con estado y opcion de cambio o cancelacion</br>
Cuando se cancela una reserva se borra el registro</br>
Cuando se termina una reserva se cambia el estado</br>
La calificacion solo se habilita cuando la reserva ha sido finalizada</br>
Listar de acuerdo al usuario: Admin=todas Client=solo las del cliente

<h1  class="bg-secondary text-white text-center">RESERVATION INFORMATION</h1>
<form class="form-group" method="post">
  <fieldset>
      <div class="form-group">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Room</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">No Guest</th>
      <th scope="col">State</th>
      <th scope="col" colspan="4" >Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>ID ROOM 1</td>
      <td>DATE CHECK IN</td>
      <td>DATE CHECK OUT</td>
      <td>CANT GUEST</td>
      <td>ESTATE</td>
      <td><button type="button" class="btn btn-success">Qualify</button></td>
      <td><button type="button" class="btn btn-success">Comment</button></td>
      <td><button type="button" class="btn btn-success">Edit</button></td>
      <td><button type="button" class="btn btn-success">Cancel</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ID ROOM 1</td>
      <td>DATE CHECK IN</td>
      <td>DATE CHECK OUT</td>
      <td>CANT GUEST</td>
      <td>ESTATE</td>
      <td><button type="button" class="btn btn-success">Qualify</button></td>
      <td><button type="button" class="btn btn-success">Comment</button></td>
      <td><button type="button" class="btn btn-success">Edit</button></td>
      <td><button type="button" class="btn btn-success">Cancel</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>ID ROOM 1</td>
      <td>DATE CHECK IN</td>
      <td>DATE CHECK OUT</td>
      <td>CANT GUEST</td>
      <td>ESTATE</td>
      <td><button type="button" class="btn btn-success">Qualify</button></td>
      <td><button type="button" class="btn btn-success">Comment</button></td>
      <td><button type="button" class="btn btn-success">Edit</button></td>
      <td><button type="button" class="btn btn-success">Cancel</button></td>
    </tr>
  </tbody>
</table>
        </div>
    </fieldset>
</form>
{% endblock %}