{% extends "index.html" %}
{% block content %}


<h1  class="bg-secondary text-white text-center">RESERVATION INFORMATION</h1>
<form class="form-group" method="post">
  <fieldset>
      <div class="form-group">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id user</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
    </tr>
  </thead>
  <tbody>
    {% for item in book %}
    <tr>
      
      <th scope="row">{{item.id}}</th>
      <td>{{item.idUser}}</td>
      <td>{{item.idRoom}}</td>
      <td>{{item.checkIn}}</td>
      <td>{{item.checkOut}}</td>
     
    </tr>
    {% endfor %}
  </tbody>
</table>
        </div>
    </fieldset>
</form>
{% endblock %}