{% extends "index.html" %}
{% block content %}
PDTE- EL ESTADO SE CAMBIA DESPUES DE RESPONDER AL CLIENTE CON SUS MEDIOS DE CONTACTO</br>

<h1  class="bg-secondary text-white text-center">COMMENT ROOM</h1>
<form class="form-group" style="padding-left: 20em;padding-right: 20em; padding-bottom: 5em;" action="" method="POST" >
   <div class="form-group">
      <label>COMMENT</label>
      <input name="comment" placeholder="Comments" class="form-control" type="textarea" value="" readonly>
   </div>
   <div class="form-group">
      <label>STATE --> SOLO ADMIN</label>
      <select class="custom-select" id="validationDefault04" required>
        <option selected value="False">------</option>
          <option value="True">Answer Ok</option>
      </select>
   </div>
   <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endblock %}