{% extends "index.html" %}
{% block content %}
PDTE- 

<h1  class="bg-secondary text-white text-center">COMMENT ROOM ...#</h1>
<form class="form-group" style="padding-left: 20em;padding-right: 20em; padding-bottom: 5em;" action="" method="POST" >
   <div class="form-group">
      <label>COMMENT</label>
      <input name="comment" placeholder="Comments" class="form-control" type="textarea" value="">
   </div>
   <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endblock %}