{% extends "layout.html" %}
{% block login %}
{% if session.username %}
   {% if session.typeUser==1 %}
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu Admin 
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/perfil_administrador">Profile</a>
            <a class="dropdown-item" href="/gestionar_usuarios">Manage Users</a>
            <a class="dropdown-item" href="/gestionar_habitacion">Manage Rooms</a>
            <a class="dropdown-item" href="/gestionar_comentarios">Manage Comments</a>
            <a class="dropdown-item" href="/gestionar_reserva">Manage Reservas</a>
         </div>
      </li>
   {% endif %}
   {% if session.typeUser==2 %}
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu Client
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/perfil_cliente">Profile</a>
            <a class="dropdown-item" href="/crear_reserva">Nueva Reserva</a>
            <a class="dropdown-item" href="/gestionar_reserva">Mis Reservas</a>
         </div>
      </li>
   {% endif %}
   <li class="nav-link dropdown" role="button">
      <a style="color: inherit" href="/editar">Modify Profile</a>
   </li>
   <li class="nav-link dropdown" role="button">
      <a style="color: inherit" href="/logout">logout</a>
   </li>
{% else %}
<li class="nav-item dropdown" >
   <a class="nav-link dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" href="/crear_usuario">Register</a>
</li>
<li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Log In
   </a>
   <form class="dropdown-menu p-4 dropdown-menu-right"  action="/login" method="POST">
      <input placeholder="Username" autocomplete="off" type="text" name="username">
      <input placeholder="Password" autocomplete="off" type="password" name="password">
      <input type="submit" name="Register">
   </form>
</li>
{% endif %}
{% endblock %}
