{% extends "index.html" %}
{% block content %}
<div class="alert alert-warning" role="alert">
    Mision: Nuestro hotel ofrece los mejores espacios para lo que ustedes esten buscando, tenemos una excelnte variedad gastronomica, es un buen hotel para descansar en familia y negocios, nuesteo gran equipo de trabajo estara siempre atento a ustedes para poder brindar un servicio de excelente calidad e inovacion a sus visitantes y huespedes, para que puedan sentirse comonos y se sientan como en casa.
  </div>
  <div class="alert alert-info" role="alert">
    Vision: En nuestro hotel queremos seguir siendo lideres en la industria con instacionecres renovadas y con servicion de alta calidad e inovadores, para que siempre sea la primera opcion para nuestros clientes promoviendo la armonia con el medio ambiente y la comunidad. maximizando el valor con el de la empresa a nuestros socios y accionestas.
  </div>
{% endblock %}